body {
    background-image: url("../static/images/blurred.png");
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
/* title for page */
p  {
    color: white;
    font-size: 16px;
    margin-top: 100x;
    align-items: center;
}

h2 {

    color: white;
    font-size: 25px;
}

/* button style*/
.btn.btn-outline {
    background-color: #ff4500;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.3s ease; 
}

/* Change the color of the like/dislike buttons on hover */
.btn.btn-outline:hover {
    background-color: #e63900;
}

/* Style the button group */
.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group-item {
    margin: 30px;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Style the navbar */
.navbar {
    background-color: black; 
    color: #fff; 
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* Style the navbar links */
.navbar-nav .nav-link {
    color: #fff; 
    padding: 14px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    justify-content: center;
}

.navbar-nav .nav-item {
    list-style-type: none;
}

/* Change the color of the navbar links on hover */
.navbar-nav .nav-link:hover {
    color: #ddd; 
    background-color: #e63900; 
}

.navbar-text {
    font-weight: bold;
}

.container {
    padding: 20px;
    background-color: #313131;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,8);
    width: 40%;
    margin-bottom: 16px;
}

.input, input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
}


.user-list {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    flex-direction: column;
}

.user-item {
    padding: 3px;
    margin: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-gap: 20px;
    padding: 20px;
    align-items: stretch;
    flex-direction: column;
}

.movie-item {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.movie-item img {
    width: 100%;
    height: auto;
}

.movie-item p {
    margin: 10px 0;
}

/* Flash message container */
#flash-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: auto;
    z-index: 1000;
  }
  
  /* Flash message styling */
  .flash-message {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Category-based styles */
  .alert-success {
    background-color: #28a745;
  }
  
  .alert-danger {
    background-color: #dc3545;
  }
  
  .alert-warning {
    background-color: #ffc107;
    color: #212529;
  }
  
  .alert-info {
    background-color: #17a2b8;
  }
  
  /* Additional styles */
  .alert {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 16px;
  }
  
