{% extends "base_auth.html" %}
{% block content %}
<p>Home</p>

{% if movie %}
<img src="{{ image_src }}">
<h1>{{ movie.title }} ({{ movie.year }})</h1>
<p>{{ movie.summary }}</p>
{% else %}
<h1>No more movies to like/dislike</h1>
{% endif %}

<form action="" method="POST">
    {{ form.hidden_tag() }}
    <input type="hidden" name="movie_id" value="{{ movie.id }}">
    <div class="form-group button-group" >
        <div class="button-group-item">
            {{ form.dislike(class="btn btn-outline") }}
        </div>
        <div class="button-group-item">
            {{ form.like(class="btn btn-outline") }}
        </div>
    </div>
</form>
{% endblock content %}