{% extends "base_auth.html" %}
{% block content %}
<p>Likes</p>


<div class="container">
    <ul class="movie-list">
        {% if movies %}
        {% for movie in movies %}
        <li>
            <div class="movie-item">
                <img src="/static/images/posters/poster_{{ movie.imdb_id }}.jpg">
                <p>{{ movie.title }} ({{ movie.year }})</p>
                <p>{{ movie.summary }}</p>
                <form method="post" action="">
                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                    {{ remove_like_form.hidden_tag() }}
                    {{ remove_like_form.remove_like(class="btn btn-outline") }}
                </form>
            </div>
        </li>
        {% endfor %}
        {% else %}
        <li>You have not liked any movies!</li>
        {% endif %}
    </ul>
</div>
{% endblock content %}