{% extends "base.html" %}

{% block content %}

<div class="login-page" >
    <h2>Login Page</h2>
    
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="container">
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            
            <div class="form-group btn" >
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <!-- <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
                
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                
                
                <button type="submit">Login</button>
                <span class="psw">Forgot <a href="#">password?</a></span> -->
            </div>
            
            <div class="container" style="background-color:#f1f1f1">
                <a href="/">
                    <button type="button" class="cancelbtn">Cancel</button>
                </a>
                <p class="no-account">Don't have an account? <a href="\register">Create account</a></p>
            </div>
        </form>
        
    </div>
</div>
{% endblock content %}
