{% extends "base_auth.html" %}
{% block content %}
<p>Matches</p>

<h2>Your friends</h2>
<ul>
    {% if friends %}
    {% for friend in friends %}
    <li>
        {{ friend.username }}
        <form action="" method="POST">
            {{ matches_form.hidden_tag() }}
            <input type="hidden" name="user_id" value="{{ friend.id }}">
            {{ matches_form.see_matches() }}
        </form>
    </li>
    {% endfor %}
    {% else %}
    <li>No friends!</li>
    {% endif %}
</ul>

{% if match_friend %}
<h2>Your matches with {{ match_friend.username }} </h2>
{% endif %}
<ul>
    {% if movies %}
    {% for movie in movies %}
    <li>
        <img src="static/images/posters/poster_{{ movie.imdb_id }}.jpg">
        <h1>{{ movie.title }} ({{ movie.year }})</h1>
        <p>{{ movie.summary }}</p>
    </li>
    {% endfor %}
    {% endif %}
</ul>
{% endblock content %}